<mat-chip-list *ngIf="!isLoading">
    Sort:
    <mat-chip (click)="sort('moviename')">
        By name
    </mat-chip>
    <mat-chip (click)="sort('year')">
        By year
    </mat-chip>
    <mat-chip (click)="sort('starrating')">
        By rating
    </mat-chip>
</mat-chip-list>
<div id="movie-card-container" *ngIf="!isLoading">
    <app-movie-card *ngFor="let movie of moviesInView" id="{{movie.slno}}" movieName="{{movie.moviename}}"
        rating="{{movie.starrating}}" (onSelect)="selectedMovie($event)"></app-movie-card>
</div>
<mat-spinner color="accent" diameter="35" *ngIf="isLoading"></mat-spinner>
<mat-chip-list [style.marginBottom.rem]="'2'" *ngIf="startIndex<100 && !isLoading">
    <mat-chip (click)="loadMore()">
        Load more
    </mat-chip>
</mat-chip-list>