input {
  border: none;
  outline: none;
  height: 32px;
  border-radius: 16px 16px 16px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-indent: 1rem;
}


::-webkit-input-placeholder {
  color: #000000;
}

#search-bg {
  background-image: url('../../../assets/clapper-full.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 18rem;
  width: 100%;
  background-position: center;
  position: relative;
}
