<mat-card class="responsive-card">
    <form [formGroup]="form" class="flex-column" (submit)="onSignUp()">
        <mat-form-field color="accent">
            <input matInput formControlName="name" type="text" placeholder="Full Name">
            <mat-error *ngIf="form.get('name').invalid">Acceps alphabets and spaces only</mat-error>
        </mat-form-field>
        <mat-form-field color="accent">
            <input matInput formControlName="email" type="text" placeholder="Email Address">
            <mat-error *ngIf="form.get('email').invalid">Please enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field color="accent">
            <input matInput formControlName="password" type="password" placeholder="Password">
            <mat-hint>At least 8 characters long. Must have an uppercase letter and an integer</mat-hint>
            <mat-error *ngIf="form.get('password').invalid">At least 8 characters long. Must have an uppercase letter
                and an integer</mat-error>
        </mat-form-field>
        <button color="accent" mat-flat-button type="submit">Sign Up</button>
    </form>
</mat-card>