// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$primary-palette: (500 : #ffdf72,
  contrast: (500 : #ffffff,
  ));

$accent-palette: (500 : #416dff,
  contrast: (500 : #ffffff,
  ));
$uni-xyz-primary: mat-palette($primary-palette, 500);
$uni-xyz-accent: mat-palette($accent-palette, 500);
$uni-xyz-warn: mat-palette($mat-red);
$uni-xyz-theme: mat-light-theme($uni-xyz-primary, $uni-xyz-accent, $uni-xyz-warn);
@include angular-material-theme($uni-xyz-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}


.mat-chip-list-wrapper {
  margin: 0 auto !important;
  justify-content: center !important;
}

.mat-progress-spinner {
  margin: 0 auto;
}

.responsive-card {
  width: 30%;
  margin: 0 auto;
}

@media screen and (max-width: 996px) {
  .responsive-card {
    width: 50%;
  }
}


@media screen and (max-width: 831px) {
  .responsive-card {
    width: 70%;
  }
}

@media screen and (max-width: 831px) {
  .responsive-card {
    width: 80%;
  }
}

@media screen and (max-width: 616px) {
  .responsive-card {
    width: 90%;
  }
}
